<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" layout:decorator="master">


<body>
    <main class="container" role="main" layout:fragment="main">
        <div class="row row-offcanvas row-offcanvas-right">
            <div class = "col-12 col-md-9">
                <header class="jumbotron"><h1>Change password</h1></header>
                <form method="POST" th:action="@{/change_password}" id="form">
                    <div class="form-group" id="usernameDiv">
                        <label for="username">Username:</label>
                        <input type="text" tabindex="6" class="form-control" id="username" name="username" placeholder="Insert your username">
                    </div>
                    <div class="form-group" id="oldPassdDiv">
                        <label for="oldPassword">Old Password:</label>
                        <input type="password" tabindex="7" class="form-control" id="oldPassword" name="oldPassword" placeholder="Insert your old password">
                    </div>
                    <div class="form-group" id="newPassDiv">
                        <label for="newPassword">New Password:</label>
                        <input type="password" tabindex="8" class="form-control" id="newPassword" name="newPassword" placeholder="Insert your new password">
                    </div>
                    <div id="submitButton">
                    </div>
                </form>
            </div>
        </div>
    </main>

    <th:block layout:fragment="script">
        <script th:src="@{/js/changePsw.js}"></script>
    </th:block>
</body>
</html>